# templates/temas.html (Página de temas)
{% extends 'layout.html' %}

{% block title %}Temas - Portavoz Cantaura{% endblock %}

{% block content %}
    <section class="topics-page">
        <h2>Temas de Interés</h2>
        <ul class="topics-list">
            <li>
                <i class="fas fa-tag"></i>
                <a href="#">Tema 1 - Descripción breve</a>
            </li>
            <li>
                <i class="fas fa-tag"></i>
                <a href="#">Tema 2 - Descripción breve</a>
            </li>
        </ul>
    </section>
{% endblock %}
